{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<h1 class="text-center py-5">About Us</h1>
<div class="container">
    <div class="row">
      <div class="col-lg-5 col-12">
        <div id="about-image"></div>
      </div>
      <div class="col-lg-7 col-12">
        <p>In 2000, Vera Kozlov, Luca Bernardi, Manuel Ramos and Lael Morring started a tutoring group to help local students prepare for GCSE and A Level exams. The tutoring group was so successful that they decided to take the group online in order to help students everywhere. And thus Markscheme was born.</p>
        <p>The aim of Markscheme is to provide students preparing for exams with guidance in the form of workshops and student resources. Markscheme provides both subject specific workshops as well as general workshops on topics such as study and test taking skills. Our student resources provide students with extensive overviews of how to prepare for specific exams or how to hone certain study skills.</p>
        <p>All of our teachers are certified experts and have at least 5 years of teaching their respective subjects.</p>
      </div>
    </div>
  </div>
  <div class="col-12 home-content-buttons">
    <h4 class="text-center">
        <a class="my-auto btn-black btn shop-now-button rounded-0 py-3" href="{% url 'staff' %}">
            Meet our Staff
        </a>
    </h4>
</div>


{% endblock %}