{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="home-content-container" >
        <div id="" class="container h-100">
            <div id="home-row-1" class="row">
                <h1 id="home-title" class="col-12 col-lg-4 text-left text-black thin my-auto">Welcome to<br><span class="text-big thin font-playfair logo-font">Markscheme</span></h1>
                <div id="home-image" class="col-12 col-lg-8">
                </div>
            </div>
            <div id="tiles-div" class="row">
                <div class="col-12 col-lg-4 home-tiles">
                </div>
                <div class="col-12 col-lg-4 home-tiles">
                </div>
                <div class="col-12 col-lg-4 home-tiles">
                </div>

            </div>
        </div>
    </div>
{% endblock %}