{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="home-content-container" >
        <div id="" class="container h-100">
            <div id="home-row-1" class="row">
                <div class="col-12 col-lg-4" >
                    <h1 id="home-title" class=" text-left text-black thin my-auto">Welcome to<br><span class="text-big thin font-playfair logo-font">Markscheme</span></h1>
                    <div class="row mt-4 p-0">
                        <div class="col-6 home-content-buttons ms-0">
                            <h4 class="text-center">
                                <a class="my-auto btn-black btn shop-now-button rounded-0 py-3" href="">
                                    Attend a Workshop
                                </a>
                            </h4>
                        </div>
                        <div class="col-6 home-content-buttons">
                            <h4 class="text-center">
                                <a class="my-auto btn-black btn shop-now-button rounded-0 py-3" href="">
                                    Get Study Resources
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                
                <div id="home-image" class="col-12 col-lg-8 mt-auto">
                </div>
            </div>
        </div>
    </div>
{% endblock %}