{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/77148d658e9a1b4ac6b525863/1f17f323ebe1d8c5940edbb41.js");</script>
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="home-content-container" >
        <div id="" class="container h-100">
            <div id="home-row-1" class="row">
                <div class="col-12 col-lg-4" >
                    <h1 id="home-title" class=" text-left text-black thin my-auto">Welcome to<br><span class="text-big thin font-playfair logo-font">Markscheme</span></h1>
                    <div class="row mt-4 p-0">
                        <div class="col-6 home-content-buttons ms-0">
                            <h4 class="text-center">
                                <a class="my-auto btn-black btn shop-now-button rounded-0 py-3" href="{% url 'workshops' %}">
                                    Attend a Workshop
                                </a>
                            </h4>
                        </div>
                        <div class="col-6 home-content-buttons">
                            <h4 class="text-center">
                                <a class="my-auto btn-black btn shop-now-button rounded-0 py-3" href="{% url 'digital_products' %}">
                                    Get Study Resources
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                
                <div id="home-image" class="col-12 col-lg-8 mt-auto">
                </div>
            </div>
        </div>
    </div>
{% endblock %}