{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid pb-5">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Staff</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for member in staff %}
                        {% if member.user.is_superuser %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <div class="card h-100 border-0">
                                    {% if member.profile_image %}
                                    <a href="">
                                        <img class="card-img-top img-fluid" src="{{ member.profile_image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                    <div class="card-body pb-0">
                                        <p class="mb-0 font-weight-bold pb-2 font-playfair text-uppercase">{{ member.user.first_name }} {{ member.user.last_name }}</p>
                                        <p class="mb-0 pb-2 card-smaller-text font-georgia"></p>
                                        <p class="mb-0 pb-2 card-smaller-text"><span class="font-weight-bold">Position:</span> {{ member.position }}</p>
                                        <p class="mb-0 pb-2 card-smaller-text"><span class="font-weight-bold">Degree:</span> {{ member.degree }} </p>
                                        <p class="mb-0 pb-2 card-smaller-text"><span class="font-weight-bold">Subjects Taught:</span> {{ member.subjects_taught }} </p>
                                        <p class="mb-0 pb-2 card-smaller-text"><span class="font-weight-bold">Bio:</span><br>{{ member.bio }} </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}