html {
    height: 100%;
}

body {
    background-color: #ede5db !important;
    color: #555;
    font-family: 'Noto Serif Georgian';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none !important;
}

.font-playfair {
    font-family: 'Playfair Display';
}

.font-lato {
    font-family: 'lato';
}

.font-georgia {
    font-family: 'Noto Serif Georgian';
}

header {
    background-color: transparent;
    
}

footer {
    height: 150px;
}

.bg-brown {
    background-color: #736151 !important;
}

.bg-pink {
    background-color: #A6635D !important;
}

.thin {
    font-weight: 300;
}

#home-content-container {
    background-color: #ede5db;
    height: calc(100vh - 130px - 150px);
    margin-bottom: 0 !important;
}

#home-title {
    z-index: 999 !important;
    padding-top: 270px;
    position: inherit;
}

#home-image {
    background: url('/media/glasses.jpg') no-repeat right local;
    background-size: contain;
    height: 380px;
    z-index: 980;
}


#tiles-div {
    margin-top: 70px;
}

.home-tiles {
    background-color: #736151;
    height: 170px;
    border: white solid 1px;
}


/* About us Page - CSS here taken from my former project: Ancient Languages Society */


/* About Us Section: Create Image and Image Circle Border */

#about-image {
    background: url('/media/team.jpg') no-repeat center local;
    background-size: contain;
    height: 380px;
    z-index: 980;
}

/* Taken from the Boutique Ado Project which sourced this code from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#search-button {
    border-left: unset !important;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Playfair Display';
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: #A6635D;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #343a40;
    color: white;
}

.text-black {
    color: #253759 !important;
}

.text-big {
    font-size: 1.3em;
}

.border-black {
    border: 1px solid #253759 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: -1;
}

.card-img {
    max-height: 180px;
    object-fit: cover;
}

.bag-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-smaller-text {
    font-size: .8rem;
}

.detail-page-img {
    max-height: 60vh;
    object-fit: cover;
    object-position: center center;
}

.remove-item {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 129px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    #home-content-container {
        height: unset;
    }

    header {
        max-width: 100vw;
        padding: 30px;
    }

    .header-container {
        padding-top: 129px;
    }

    #home-title {
        font-size: 2.5rem;
        margin-top: 0;
        text-align: center !important;
        padding-top: 94px;
        padding-bottom: 50px;
    }
    
    #home-image {
        background: url('/media/glasses.jpg') no-repeat center local;
        background-size: contain;
        height: 580px;
        margin: unset;
        position: unset;
    }

    footer {
        padding: unset;
    }

  }

/* home page content for smaller devices */
@media (max-width: 767px) {
    .header-container {
        margin-top: 0px;
        padding-top: 116px;
        
    }

    body {
        font-size: .5em;
    }

    header {
        max-width: 100vw;
    }
    
    #home-title {
        font-size: 1.5rem;
        margin-top: 0;
        text-align: center !important;
        padding-top: 94px;
        padding-bottom: 30px;
    }

    #home-content-container {
        height: unset;
    }

    .home-content-buttons{
        padding-bottom: 40px;
    }

    footer {
        height: unset;
    }

    #home-image {
        background: url('/media/glasses.jpg') no-repeat center local;
        background-size: contain;
        height: 160px;
        margin-bottom: 100px;
    }
}