html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Noto Serif Georgian';
}

.font-playfair {
    font-family: 'Playfair Display';
}

.font-lato {
    font-family: 'lato';
}

.font-georgia {
    font-family: 'Noto Serif Georgian';
}

header {
    background-color: transparent;
    
}

.thin {
    font-weight: 300;
}

#home-content-container {
    background-color: #ede5db;
    height: calc(100vh - 130px);
    margin-bottom: 0 !important;
}

#home-title {
    z-index: 999;
    padding-top: 280px;
}

#home-image {
    background: url('/media/glasses.jpg') no-repeat right local;
    background-size: contain;
    margin-top: 80px;
    height: 500px;
}


#tiles-div {
    margin-top: 50px;
    height: 30vh;
}

.home-tiles {
    background-color: #A6635D;
    height: 200px;
    border: white solid 1px;
}

/* Taken from the Boutique Ado Project which sourced this code from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#search-button {
    border-left: unset !important;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Playfair Display';
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: #A6635D;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #D9C4B8;
    color: white;
}

.text-black {
    color: #253759 !important;
}

.text-big {
    font-size: 1.3em;
}

.border-black {
    border: 1px solid #253759 !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 129px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
  
    header {
        max-width: 100vw;
        padding: 30px;
    }

    .header-container {
        padding-top: 129px;
    }
    
    #home-image {
        background-size: 900px;
        height: 900px;
        margin: unset;
        position: unset;
    }

  }

/* home page content for smaller devices */
@media (max-width: 767px) {
    .header-container {
        margin-top: 0px;
        
    }

    body {
        font-size: .5em;
    }

    header {
        max-width: 100vw;
    }
    
    #home-title {
        font-size: 1.5rem;
        margin-top: 0;
    }

    #home-content-container {
        height: 100vh;
    }
}