{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<h3 class="text-center m-5 pt-3 font-weight-bold display-4">404: Page not Found</h3>
<p class="mx-5 pb-5 text-center">Sorry, Galileo. This page is no moon of Jupiter waiting to be discovered. Try using the search bar above (the modern telescope, if you will), or alternatively...</p>

<div class="col-12 home-content-buttons">
    <h4 class="text-center">
        <a class="my-auto btn-black btn shop-now-button rounded-0 py-3" href="{% url 'home' %}">
            Go back to Home Page
        </a>
    </h4>
</div>


{% endblock %}