{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if digital_product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid detail-page-img" src="{{ digital_product.image.url }}" alt="{{ digital_product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid detail-page-img" src="/media/no_image.jpg" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h3 class="mb-0 font-playfair thin">{{ digital_product.name }}</h3>
                    <p class="lead mb-0 mt-3 font-weight-bold">£{{ digital_product.price }}</p>
                    <br>
                    <p class="font-georgia font-weight-bold text-uppercase mt-4 mb-2">Details:</p>
                    <hr class="m-0">
                    <p class="font-georgia mt-1 mb-0">
                        {% if digital_product.host_creators.count < 2 %}
                        <span class="font-weight-bold">Author:</span>
                        {% else %}
                        <span class="font-weight-bold">Authors:</span>
                        {% endif %}
                            {% for instructor in digital_product.host_creators.all %}
                                <span>{{ instructor.first_name }} {{ instructor.last_name }}{% if forloop.counter < digital_product.host_creators.count|add:"-1"  %},
                                {% elif forloop.counter == digital_product.host_creators.count|add:"-1" %}
                                and
                                {% endif %}
                            {% endfor %}
                                </span>
                    </p>
                    <p class="font-georgia mt-1 mb-0"><span class="font-weight-bold">Format:</span> PDF Booklet</p>
                    <p class="font-georgia mt-1 mb-0"><span class="font-weight-bold">Pages:</span> {{ digital_product.pages }}</p>
                    <p class="font-georgia font-weight-bold mt-5 mb-2 text-uppercase">Description:</p>
                    <hr class="m-0">
                    <p class="font-georgia">{{ digital_product.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' digital_product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group w-50 d-none">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ workshop.id }}" id="id_qty_{{ workshop.id }}">
                                    </div>
                                </div>
                            </div>
                            <br>
                            
                            {% if in_bag %}
                            <div class="col-12">
                                <p class="bg-pink text-white rounded p-3">This item is already in your bag. You only need to purchase it once and then you have access for life!</p>
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                            </div>
                            {% else %}
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            {% endif %}
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a class="text-blue font-italic mx-auto" href="{{ filelink }}" download="{{ filelink }}" target="_blank" rel="noopener noreferrer">Click here to download your file</a>

    <p class="mx-auto mt-3">{{ digital_product.file }} </p>
    {% if productupdates %}
    <div class="col-lg-8 mx-auto mb-5">
        <p class="font-georgia font-weight-bold text-uppercase mt-4 mb-2 text-center">Product Updates: </p>
        <hr>
        {% for item in productupdates %}
        {% if item.major_update == True %}
        <button class="accordion rounded mt-2"> {{item.created_on|date}} – {{ item.subject }} </button>
        <div class="panel rounded">
            <p class="mt-3"> {{ item.update_description }} </p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}