{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if workshop.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid detail-page-img" src="{{ workshop.image.url }}" alt="{{ workshop.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid detail-page-img" src="/media/no_image.jpg" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h3 class="mb-0 font-playfair thin">{{ workshop.name }}</h3>
                    <p class="lead mb-0 mt-3 font-weight-bold">£{{ workshop.price }}</p>
                    <br>
                    <p class="font-georgia font-weight-bold text-uppercase mt-4 mb-2">Details:</p>
                    <hr class="m-0">
                    <p class="font-georgia mt-3 mb-0"><span class="font-weight-bold">Date:</span> {{ workshop.date }} at {{ workshop.time }}</p>
                    <p class="font-georgia mt-1 mb-0"><span class="font-weight-bold">Location:</span> {{ workshop.location }}</p>
                    <p class="font-georgia mt-1 mb-0">
                        {% if workshop.host_creators.count < 2 %}
                        <span class="font-weight-bold">Instructor:</span>
                        {% else %}
                        <span class="font-weight-bold">Instructors:</span>
                        {% endif %}
                            {% for instructor in workshop.host_creators.all %}
                                <span>{{ instructor.first_name }} {{ instructor.last_name }}{% if forloop.counter < workshop.host_creators.count|add:"-1"  %},
                                {% elif forloop.counter == workshop.host_creators.count|add:"-1" %}
                                and
                                {% endif %}
                            {% endfor %}
                                </span>
                    </p>
                    <p class="font-georgia mt-1 mb-0"><span class="font-weight-bold">Available Places:</span> {{ workshop.total_slots | sub:workshop.attendance.count }} spots left out of {{ workshop.total_slots }} total</p>
                    <p class="font-georgia font-weight-bold mt-5 mb-2 text-uppercase">Description:</p>
                    <hr class="m-0">
                    <p class="font-georgia">{{ workshop.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' workshop.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group w-50 d-none">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ workshop.id }}" id="id_qty_{{ workshop.id }}">
                                    </div>
                                </div>
                            </div>
                            <br>
                            {% if user_exists %}
                            <div class="col-12">
                                <div class="bg-pink text-white rounded p-3">
                                    <p class="text-center text-uppercase">You are attending this workshop</p>
                                    <hr color="white";>
                                    <p class="font-georgia">No need to purchase another spot. You're already booked! Keep an eye out on this page for updates regarding the workshop.</p>
                                    <p class="font-georgia">If you wish to reserve a spot for another person, create an account for that person and then purchase spot.</p>
                                </div>
                                <div class="mx-auto text-center">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                </div>
                            </div>
                            {% elif in_bag %}
                            <div class="col-12">
                                <div class="bg-pink text-white rounded p-3">
                                    <p class="text-center text-uppercase">This item is already in your bag</p>
                                    <hr color="white";>
                                    <p class="font-georgia">If you wish to reserve a spot for another person, create an account for that person and then purchase spot.</p>
                                </div>
                                <div class="mx-auto text-center">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-12 mx-auto text-center">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            {% endif %}
                            

                            
                            
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if productupdates %}
    <div class="col-lg-8 mx-auto mb-5">
        <p class="font-georgia font-weight-bold text-uppercase mt-4 mb-2 text-center">Product Updates: </p>
        <hr>
        {% for item in productupdates %}
        {% if item.major_update == True %}
        <button class="accordion rounded mt-2"> {{item.created_on|date}} – {{ item.subject }} </button>
        <div class="panel rounded">
            <p class="mt-3"> {{ item.update_description }} </p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}